.btn {
  outline: none;
  display: inline-block;
  background: $btn-default-background;
  border: 0;
  border-radius: 30px;
  margin: 0 0 rem(30);
  padding: $btn-padding-vertical $btn-padding-horizontal;
  box-sizing: border-box;
  color: $btn-default-color;
  font-size: rem(12);
  line-height: rem(20);
  font-weight: inherit;
  transition: 0.3s ease;
  cursor: pointer;

  &:only-child,
  &:last-of-type {
    margin: 0;
  }

  &:hover,
  &:active,
  &:focus {
    background: $btn-default-background-hover;
    box-shadow: 0 rem(10) rem(20) rgba(#737980, 0.4);
    color: $btn-default-color-hover;
  }

  &.disabled,
  &[disabled] {
    box-shadow: none;
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }

  @each $name, $color in $colors {
    &-#{$name} {
      background: $color;
      box-shadow: 0 rem(10) rem(20) rgba($color, 0.4);
      color: $white;

      &:hover,
      &:active,
      &:focus {
        background: darken($color, 10%);
        box-shadow: 0 rem(10) rem(20) rgba($color, 0.4);
        color: $white;
      }
    }
  }

  &:focus,
  &:active {
    box-shadow: none;
  }

  &-block {
    display: block;
    text-align: center;
  }
}