// Base Color
$white: #FFFFFF;
$black: #000000;
$dark-gray: lighten($black, 20%);
$gray: lighten($black, 40%);
$light-gray: lighten($black, 60%);

// Colors
$purple: #827EB1;
$green: #57CA7E;
$aqua: #B4D0FD;
$blue: #1684FB;
$orange: #FED330;
$red: #FB4F59;
$colors: ("purple": $purple, "green": $green, "aqua": $aqua, "blue": $blue, "orange": $orange, "red": $red);

// Theme Colors
$accent: $blue;

// Fonts
$body-font: "Poppins";
$body-font-alt: "Cambo";

// Font Weight
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

// Base Settings
$base-background-color: #F5F8FA;
$base-font-color: $gray;
$base-font-family: $body-font, sans-serif;
$base-font-size: rem(12);
$base-font-weight: $medium;
$base-line-height: rem(24); // TODO: Fix according to PSD later

// Grid Settings
$grid-width: 1170px;
$grid-max-width: 1170px;
$grid-columns: 4;
$grid-gutters: rem(30);

// Components Settings
$component-border-radius: 4px;

// Button Settings
$btn-default-background: #EBEEF0;
$btn-default-background-hover: #737980;
$btn-default-color: #737980;
$btn-default-color-hover: $white;
$btn-padding-vertical: rem(10);
$btn-padding-horizontal: rem(20);

// Card Settings
$card-background: $white;
$card-border-radius: $component-border-radius;
$card-gutters: $grid-gutters;
$card-padding-vertical: rem(40);
$card-padding-horizontal: rem(40);

// Checkbox & Radio Settings
$checkbox-radio-background-color: $white;
$checkbox-radio-border-color: #EBEEF0;
$checkbox-radio-border-color-active: $accent;
$checkbox-radio-check-color: $white;
$checkbox-radio-font-color: $gray;
$checkbox-radio-font-size: rem(14);